/* src/components/Card.css */

body {
  background-image: url("public/img/coffeeBackgraound.jpg"); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  justify-content: center; /* Centra horizontalmente en la página */
  align-items: center; /* Centra verticalmente en la página */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
  margin: 0; /* Elimina el margen predeterminado */
}

h1 {
  font-size: 36px; /* Adjust font size as needed */
  font-weight: bold;
  color: #333; /* Text color */
  margin-bottom: 20px; /* Margin bottom for spacing */
}

/* Styling for h2 element */
h2 {
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  color: #555; /* Text color */
  margin-bottom: 10px; /* Margin bottom for spacing */
}

.card {
  width: 100vh;
  height: 40vh;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-front {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.card-back {
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card.flipped .card-inner {
  transform: rotateX(180deg);
}

.card-front:hover, .card-back:hover{
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 20px;
}

.previos-arrow-button, .arrow-button{
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}



.arrow-button:after {
  content: '>';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.arrow-button:hover, 
.previos-arrow-button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.arrow-button:hover:after, 
.previos-arrow-button:hover:after {
  opacity: 1;
  right: 10px;
}

.correct{
  border: 3px solid blue;
}

.incorrect{
  border: 3px solid red;
}

/* Estilos para el botón submit */
button[type="submit"] {
  background-color: #5ca1e1; /* Color de fondo verde */
  color: white; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambio de cursor al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el cuadro de texto de input */
input[type="text"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Margen inferior */
  border: 3px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
}

/* Estilo para el borde azul cuando la respuesta es correcta */
input[type="text"].correct {
  border-color: blue; /* Borde azul */
}

/* Estilo para el borde rojo cuando la respuesta es incorrecta */
input[type="text"].incorrect {
  border-color: red; /* Borde rojo */
}

.button-container{
  display: flex; 
  align-items: center;
  justify-content: space-around;
  
}

.submit-container{
  display: flex;
  justify-content: center;
}
